---
import Image from "astro/components/Image.astro";
import MainLayout from "./MainLayout.astro";
import { type CollectionEntry } from "astro:content";
type Props = CollectionEntry<"product">["data"];
import { fade } from "astro:transitions";


const { name, srcImage, tags, price, altImage, description } = Astro.props;
---

<MainLayout title={name}>
    <section
   
        class="max-w-screen-2xl grid grid-cols-1 md:grid-cols-3 mx-auto pt-4 md:pt-2"
    >
        <div class="my-auto" >
            <h1
                class="font-script text-6xl md:w-96 text-center md:text-left text-gray-900"
            >
                {name}
            </h1>
            <p
                class="text-lg mt-2 font-medium md:w-4/5 text-center md:text-left text-gray-700"
            >
                {description}
            </p>
        </div>

        <div class=""  transition:name={name} transition:animate={fade({duration : "0.3s"})}>
            <Image
                class="rounded-full object-cover"
                width={500}
                height={500}
                src={srcImage}
                alt={altImage}
            />
        </div>

        <div class="w-52 mx-auto font-semibold text-gray-700">
            <h2 class="my-2 text-lg">Donut Size</h2>
            <div class="grid grid-cols-3 gap-4">
                <button
                    class="bg-white w-12 h-14 border-4 border-gray-600 rounded-md"
                    >M</button
                >
                <button
                    class="bg-white w-12 h-14 active:border-4 border-gray-600 rounded-md"
                    >L</button
                >
                <button
                    class="bg-white w-12 h-14 active:border-4 border-gray-600 rounded-md"
                    >XL</button
                >
            </div>
            <h2 class="my-2 text-lg">Delivery</h2>
            <div class="grid grid-cols-2 gap-4">
                <button
                    class="bg-white w-24 h-12 border-4 border-gray-600 rounded-md"
                    >Bakend</button
                >

                <button
                    class="bg-white w-24 h-12 active:border-4 border-gray-600 rounded-md"
                    >Frozen</button
                >
            </div>
            <h2 class="my-2 text-lg">Box Size</h2>
            <div class="grid grid-cols-3 gap-4">
                <button
                    class="bg-white w-12 h-14 border-4 border-gray-600 rounded-md"
                    >1</button
                >
                <button
                    class="bg-white w-12 h-14 active:border-4 border-gray-600 rounded-md"
                    >6</button
                >
                <button
                    class="bg-white w-12 h-14 active:border-4 border-gray-600 rounded-md"
                    >12</button
                >
            </div>
        </div>
    </section>
    <div
        class="flex justify-between items-center my-16 bg-white rounded-xl mx-auto w-4/5 xl:w-[40rem] py-2 xl:py-5 px-4"
    >
        <div class="text-purple-900">
            <h4 class="font-medium">Total price</h4>
            <span class="font-extrabold">${price}.00</span>
        </div>
        <button
            class="px-4 py-4 bg-green-100 hover:bg-green-300 border rounded-xl"
            >Add to Car</button
        >
    </div>
    <div
        class="max-w-screen-md xl:max-w-screen-lg mx-auto prose prose-zinc lg:prose-base px-2 md:px-8 prose-img:w-4/5 prose-img:mx-auto"
    >
        <slot />
    </div>

    <div class="my-8 max-w-screen-xl mx-auto"></div>
</MainLayout>
